dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

*.0-5ecc1f7c4136a73a8a2d5b258a910717

*.dylib

*.a

*.cache

*.conf

TAGS

*.conf
